/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
    font-family: 'Prompt', sans-serif;
}

header {
    text-align: center;
    background: white;
    border: 1px solid black;
    padding: 1.5rem .5rem;
    margin-bottom: 1.5rem;
}

.mainTitle {
    font-size: 50px;
    animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-weight: 700;
}

.searchForm {
    text-align: center;

}

.initialForm {
    margin-bottom: 2em;
}

.searchResults {
    text-align: center;
    margin: 1rem 1rem;
}

.formButton {
    text-align: center;
}

.favorite {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

.name {
    border: 1px solid grey;
    box-shadow: 3px 3px #888888;
    border-radius: 10px;
    text-align: center;
    margin: 1vw 2vw;
    padding: .5rem 1rem;
    animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-weight: 700;
    cursor: pointer;
    font-size: 5vw;
    /* white-space: nowrap;
    overflow: hidden; */
}

.name:hover {
    background-color: lightblue;
}

.favoriteInfo {
    margin-left: 2rem;
}

.favButtons {
    align-items: center;
    justify-content: space-around;
}

.deleteButton {
    margin: 1rem;
}

.noteButton {
    margin: 1rem;
}

.editButtons {
    display: flex;
    justify-content: flex-start;
}

.editComment {
    margin: 0 .5rem;
}

/* animations taken from class example for added text pop */
@keyframes rainbow {
  0% { color: black; }
  10% { color: crimson; }
  25% { color: hotpink;}
  30% { color: coral;}
  40% { color: lightyellow; }
  50% { color: palegreen; }
  60% { color: mediumaquamarine; }
  75% { color: steelblue; }
  80% { color: darkviolet;}
  90% { color: black; }
  100% { color: ghostwhite; }
}
